
/* Home  */
.home{ 
    background-color: rgb(42, 68, 125);   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.container{
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    height: 85%;
    display: flex; 
    overflow: hidden;
}

/* Sidebar  */
.sidebar{
    /* flex:1;  */
    border-right: 1px solid black;
    background-color: rgb(51, 69, 109);   
}


/* Navbar  */
.navbar{
 display: flex;
 align-items: center;
 background-color: rgb(22, 41, 82);   
 height: 50px;
 padding: 10px;
 margin-top: 60px;
 justify-content: space-between;
 color: white; 
}

.logonav{
   
        margin-bottom: 5px;
        font-size: larger;
        font-weight: bold;
    }


.user{
    display: flex;
    gap: 10px;
}
.NavAvatar{
    background-color: aliceblue;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}
.Navbtn{
    background-color: rgb(113, 118, 129); 
    color: white;
    font-size: 15px;
    padding: 3px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Search  */
.search{
  border-bottom: 1px solid gray ;
} 
.searchform{
    padding: 10px;
    width: 30%;
  
}
.searchbtn{
    background-color: rgb(113, 118, 129); 
    color: white;
    font-size: 15px;
    padding: 3px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    
}
.btns{
    width: 90px;
    height: 30px;
}
.searchuser{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    display: flex;
}
.userchat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.userchat:hover{
    background-color: rgb(31, 45, 75);
}
.userchatinfospan{
    
    font-size: 18px;
    font-weight: 500;
}
.userchatinfop{
    margin: 5px;
    font-size: 14px;
    color: lightgray;
}
.searchimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/* Chat  */
.chats{
    height: calc(100% - 160px);
    /* overflow: scroll; */
}

.chat{ 
    flex:2;
    top: 0;
    
    /* width: 500px; */

}
.chatinfo{
    height: 50px;
    background-color: rgb(36, 57, 103);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}
.chaticons{
    display: flex;
    gap: 19px;
}
.chaticonimg{
    display: flex;
    height: 24px;
    cursor: pointer;
    margin-top: 2px;
}
.chaticonimgadd{
    display: flex;
    height: 30px;
    cursor: pointer;
}
.chaticonimgcall{
    display: flex;
    height: 19px;
    cursor: pointer;
    margin-top: 5px;
}

/* Messages */
.messages{
    background-color: whitesmoke;
    padding: 10px;
    height: calc(100% - 160px);
    overflow: scroll;
}

/* Message  */
.message{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.owner{
    display: flex;
    flex-direction: row-reverse; 
}
.owner p{
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
}
.owner .messagecontent{
    align-items: flex-end;
}
.messagecontent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msgp{
    background-color: white;
    padding:  10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}
.messageinfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}
.msginfoimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.msgcontentimg{
    width: 50%;

}



/* input  */
.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputtext{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
}
.send{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Attach{
    display: flex;
    height: 24px;
    cursor: pointer;
    /* margin-top: 2px; */
}
.Addimg{
    display: flex;
    height: 24px;
    cursor: pointer;
    /* margin-top: 2px; */
}
.sendbtn{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color:#364c97;
    border-radius: 1px;
    cursor: pointer;
}





@media only screen and (max-width: 500px ) {
    .sidebar{
        
        width: 5px;
    }
  }

  .head{
    text-align: center;
    background-color: rgba(184, 179, 179, 0.962);
  }
  .headsection{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .headingright{
    text-align: center;
    background-color: rgba(184, 179, 179, 0.962);
  }
  .heading{
    font-size: medium;
    /* color: whitesmoke; */
    /* font-weight: 100; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  
.toggle-sidebar{
    z-index: 12;
    /* height: 20px; */
}
.toggle-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-sidebar:hover {
    background-color: #555;
  }
  
  .sidebar {
    flex: 1;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: rgb(51, 69, 109);   

    z-index: 10;
    transition: left 0.3s ease-in-out;
  }
  /* .chat{
      top: 0;
      left: -250px;
    width: 250px;
    height: 100vh;
  } */
  
  .sidebar.open {

    left: 0;
  }
  
  @media (min-width: 268px) {
    .sidebar {
      left: -350px;
      width: 350px;
      transition: left 0.3s ease-in-out;
    }
  
    .sidebar.open {
        left: 0;
    }
    
    .main-content {
      margin-left: 350px;
    }
  }
  
  
  .rightbar{
    position: fixed;
    top: 0;
    right: 0px;
    width: 250px;
    height: 100vh;
    background-color: rgb(51, 69, 109);   

    z-index: 10;
    transition: right 0.3s ease-in-out;
  }
  
    .toggle-rightbar{
        z-index: 11;
        /* height: 20px; */
    }
    .toggle-rightbar {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .toggle-rightbar:hover {
        background-color: #555;
      }

      .rightbar.open {
        right: 0;
      }
      
      @media (min-width: 268px) {
        .rightbar {
          right: -250px;
          width: 250px;
          transition: right 0.3s ease-in-out;
        }
      
        .rightbar.open {
            right: 0;
        }
        
        .main-content {
          margin-right: 350px;
        }
      }
